.container-barcode{
    width: 920px;
    margin-top: 3px;
}

.barcode{
    border: 1px #000 dashed;
    width: 306px;
    height: 185px;
    padding-top: 10px;
}
.barcode-empty{
    opacity: 0.1;
}
.img-height{
    height: 100px;
    width: 189px;
}

.customtext{
    width: 100%!important;
}
.nopadding{
    padding: 0 5px;
}
.nav li a{
    border-radius: 5px;
}
.nav li a:hover{
    background-color: #449d44;
}
.nav li a:focus{
    background-color: #449d44;
}
.btn-list{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    margin:1px 0;
}
.btn-listitem{
    padding: 5px;
}

ul.source, ul.target {
    min-height: 50px;
    margin: 0px 25px 10px 0px;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    list-style-type: none;
    list-style-position: inside;
}
ul.source {
    border-color: #f8e0b1;
}
ul.target {
    border-color: #add38d;
}
.source li, .target li {
    margin: 5px;
    padding: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.source li {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #c09853;
}
.target li {
    background-color: #ebf5e6;
    border: 1px solid #d6e9c6;
    color: #468847;
}
.sortable-dragging {
    border-color: #ccc !important;
    background-color: #fafafa !important;
    color: #bbb !important;
}
.sortable-placeholder {
    height: 40px;
}
.source .sortable-placeholder {
    border: 2px dashed #f8e0b1 !important;
    background-color: #fefcf5 !important;
}
.target .sortable-placeholder {
    border: 2px dashed #add38d !important;
    background-color: #f6fbf4 !important;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.editable{
    text-decoration: underline;
    color: #337ab7;
    cursor: pointer;
    background-color: #d9edf7;
}
.table-editable{
    cursor: default;
}