<!DOCTYPE html>
<html>

<head>
    </head>
<body>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Τηλέφωνο</th>
        <th>Όνομα</th>
        <th>Γράφειο</th>
        <th>Πρόβλημα</th>
        <th>Παρατηρήσεις</th>
        <th>Ημερομηνία</th>
        <th>Επιλύθηκε από</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>
        <td>a</td>

    </tr>

    </tbody>
</table>

</body>
</html>