<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${error}" class="alert alert-warning">
            <strong>Προσοχή!</strong> Το ράφι που προσπαθείτε να προσθέσετε υπάρχει ήδη.
        </div>
    <div class="col-md-4">
        <form role="form" action="/addCabinet" method="post" name="addCabinetDto">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
            <div class="form-group">
                <label for="name">Όνομα Ραφιού:</label>
                <input type="text" class="form-control" id="name" name="name"></input>
            </div>
            <button type="submit" class="btn btn-default">Προσθήκη</button>
        </form>
    </div>
    </div>
</section>
</body>
</html>