<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${error}" class="alert alert-warning">
            <strong>Προσοχή!</strong> Το αναλώσιμο που προσπαθείτε να προσθέσετε υπάρχει ήδη.
        </div>
        <h3 th:text="${cabinet.name}"></h3>
        <p>
            Προσθήκη τύπου αναλώσιμου, πλητρολογήστε ένα κωδικό για εύρεση των διαθέσιμων κωδικών αναλωσίμων.
            Αν δεν υπάρχει ένας κωδικός μπορείται να τον προσθέσετε από <b>Μελάνια Αποθέματα</b> &gt; <b>Προσθήκη</b>
        </p>
        <form role="form" action="/addCabinetConsumable" method="get" name="addCabinetConsumableDto">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
            <div class="input-group col-md-6">
                <input type="hidden" name="cabinetid" th:value="${cabinet.publicid}"></input>
                <input type="text" class="search-query form-control" placeholder="Εύρεση" name="code"/>
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </form>
        <table class="table">
            <thead>
            <tr>
                <td><strong>Κωδικός Αναλωσίμου</strong></td>
                <td><strong>Χρώμα</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="consumable,iterationStatus:${consumables}">
                <td th:text="${consumable.code}"></td>
                <td th:text="${consumable.color}"></td>
                <td><a class="btn btn-primary" th:href="@{/addCabinetQuantity(cabinetid=${cabinet.publicid},consumableid=${consumable.publicid})}">Επιλογή</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>