<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="col-md-4">
        <form role="form" action="/addCabinet" method="post" name="addCabinetDto">
            <div class="form-group">
                <label for="name">Όνομα Ραφιού:</label>
                <input type="text" class="form-control" id="name" name="name"></input>
            </div>
            <button type="submit" class="btn btn-default">Προσθήκη</button>
        </form>
    </div>
</section>
</body>
</html>