<!DOCTYPE html>
<html   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base"
        xmlns:th="http://www.thymeleaf.org">
<body>
    <section layout:fragment="content">
        <script type="text/javascript">
            document.title = document.title + " - Add Quantity";
        </script>
        <div class="container">
            <h3 th:text="${cabinet.name}"></h3>
            <h4 th:text="${consumable.code}"></h4>
            <p> Εισάγεται παρακαλώ το πλήθος των αναλωσίμων με τον παραπάνω κωδικό που βρίσκονται στο ράφι.</p>
            <form role="form" name="addQuantityDto" action="addCabinetQuantity" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                <input type="hidden" name="cabinetid" th:value="${cabinet.publicid}"></input>
                <input type="hidden" name="consumableid" th:value="${consumable.publicid}"></input>
                <div class="row">
                    <div class="col-md-4">
                        <select class="form-control col-md-4" id="quantity" name="quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary">Καταχώρηση</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>