<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
	    <div class="row container-barcode text-center">
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
			<div class="col-xs-4 barcode">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" src="images/barcode.png"></img>
				</div>
				<div>
					123456879
				</div>
			</div>
									
		</div>
    </div>
</section>
</body>
</html>