<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
		<div th:if="${pageFull}" class="alert alert-warning">
			<strong>Προσοχή!</strong>
			Δεν μπορείτε να προσθέσετε επιπλέον κωδικούς. <span th:text="${remainder}"></span> κωδικοί διαθέσιμοι.
		</div>
	    <div class="row container-barcode text-center">
			<div class="col-xs-4 barcode" th:each="barcode: ${barcodes}">
				<div>
					<p class="h6">ΤΠΕΝΤ - ΝΑ ΜΗΝ ΑΦΑΙΡΕΙΤΑΙ</p>
				</div>
				<div>
					<img class="img-height" th:src="@{/barcode(text=${barcode.barcodeText})}"></img>
				</div>
				<div th:text="${barcode.printableText}"></div>
			</div>
		</div>
    </div>
</section>
</body>
</html>