<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>ΤΠΕΝΤ stock</title>
    <link rel="stylesheet" href="../../css/dragndrop.css"/>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../css/custom.css"/>
    <link rel="stylesheet" href="../../css/jquery-ui.css"/>
    <link rel="stylesheet" href="../../css/bootstrap-select.css"/>



    <script src="../../js/jquery-1.12.1.min.js" type="application/javascript"></script>
    <script src="../../js/bootstrap.min.js" type="application/javascript"></script>
    <script src="../../js/RowSorter.js" type="application/javascript"></script>
    <script src="../../js/bootstrap-select.min.js" type="application/javascript"></script>
    <script src="../../js/jquery-ui.js" type="application/javascript"></script>
    <script src="../../js/mindmup-editabletable.js" type="application/javascript"></script>


</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ΓΔΟΣΥ/ΔΙΣΤΥ/ΤΠΕΝΤ stock</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Συσκευές
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pcs">Προσωπικοί Υπολογιστές</a></li>
                        <li><a href="displayDevices">Οθόνες</a></li>
                        <li><a href="printerDevices">Εκτυπωτές</a></li>
                        <li><a href="hardDevices">Σκληροί Δίσκοι</a></li>
                        <li><a href="kvms">KVM</a></li>
                        <li><a href="rams">RAM</a></li>
                        <li><a href="vgas">Κάρτες Γραφικών</a></li>
                        <li><a href="peripherals">Περιφερειακά</a></li>
                        <li><a href="psus">Τροφοδοτικά</a></li>
                        <li><a href="routers">Δρομολογητές</a></li>
                        <li><a href="/switches">Switches</a></li>
                        <li><a href="phones">Τηλέφωνα</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Υποστήριξη εκτύπωσης
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="printers">Μοντέλα Εκτυπωτών</a></li>
                        <li><a href="cabinets">Ράφια</a></li>
                        <li><a href="consumables">Αναλώσιμα</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/">Αναφορές
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/consumableReports">Κινήσεις αναλωσίμων</a></li>
                        <li><a href="/totalSupplies">Διαθέσιμο απόθεμα αναλωσίμων</a></li>
                        <li><a href="/orders">Αποθηκευμές Παραγγελίες</a></li>
                        <li><a href="/loginuserReports">Ενέργειες Χρηστών</a></li>
                        <li><a href="/log">Καταγεγραμμένες Ενέργειες</a></li>
                        <li><a href="/domainStatusMatrix">Προσωπικοί υπολογιστές ανά domain και status.</a></li>
                        <li><a href="/findByComputerDomainStatus">Εύρεση Υπολογιστών ανα domain και status</a></li>
                        <li><a href="/solvedtickets">Επιλυμένα Tickets</a></li>
                        <li><a href="/consumableDepartmentsReport">Χρήση Αναλωσίμων</a></li>
                    </ul>
                </li>
                <li><a href="/order">Παραγγελία</a></li>
                <li><a href="/barcodeGen">Barcode Page</a></li>
                <li><a href="/printCheckConsumable">Εκτύπωση ελέγχου αναλωσίμων</a></li>
                <li><a href="/ticketing">Ticketing(beta)</a></li>
                <li><a href="/personel">Χρεωστικά(beta)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Αποσύνδεση</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="panel">
    <section layout:fragment="content"></section>
</div>
</body>
</html>