<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>ΤΠΕΝΤ stock</title>

    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <script src="../../js/jquery-1.12.1.min.js" type="application/javascript"></script>
    <script src="../../js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ΓΔΟΣΥ/ΔΙΣΤΥ/ΤΠΕΝΤ stock</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="printers">Εκτυπωτές</a></li>
                <li><a href="cabinets">Ράφια</a></li>
                <li><a href="consumables">Αναλώσιμα</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Αποσύνδεση</a></li>
            </ul>
        </div>
    </nav>
</header>
<div class="panel">
    <section layout:fragment="content"/>
</div>
</body>
</html>