<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:margin-left="http://www.w3.org/1999/xhtml"
      layout:decorator="base"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section layout:fragment="content">
    <div class="container">
        <h3 th:text="${cabinet.name}"></h3>
        <div class="row">
            <div class="btn-group pull-left">
                <a th:href="@{/addCabinetConsumable(cabinetid=${cabinet.publicid})}" class="btn btn-primary" role="button">Προσθήκη Αναλωσίμων</a>
                <a th:href="@{/removeCabinet(id=${cabinet.publicid})}" class="btn btn-danger" role="button">Διαγραφή Ραφιού</a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <td><strong>Κωδικός Αναλωσίμου</strong></td>
                <td><strong>Αποθηκευμένη Ποσότητα</strong></td>
                <td><strong>Επεξεργασία ποσότητας</strong></td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="quantity, iternationStatus:${cabinet.quantities}">
                <td th:text="${quantity.consumable.code}"></td>
                <td th:text="${quantity.amount}"></td>
                <td>
                    <div class="row">
                        <form role="form" action="editQuantity" name="editQuantityDto" method="post">
                            <input type="hidden" name="cabinetid" th:value="${cabinet.publicid}"></input>
                            <input type="hidden" name="quantityid" th:value="${quantity.publicid}"></input>
                            <input type="hidden" name="amount" th:value="${quantity.amount + 1}"></input>
                            <button type="submit" class="btn btn-success pull-left" style="margin-left: 3px">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </form>
                        <form role="form" action="editQuantity" name="editQuantityDto" method="post">
                            <input type="hidden" name="cabinetid" th:value="${cabinet.publicid}"></input>
                            <input type="hidden" name="quantityid" th:value="${quantity.publicid}"></input>
                            <input type="hidden" name="amount" th:value="${quantity.amount - 1}"></input>
                            <button type="submit" class="btn btn-danger pull-left" style="margin-left: 3px">
                                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>