<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <h3>Αναφορά status ανά domain για όλους τους προσωπικούς υπολογιστές</h3>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Domain</th>
                    <th>Status</th>
                    <th>Πλήθος</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="row, iterationStatus:${data}">
                    <td th:text="${row[0]}"></td>
                    <td th:text="${row[1]}"></td>
                    <td th:text="${row[2]}"></td>
                </tr>
            </tbody>
        </table>
        <a href="/printDomainStatusMatrixReport" class="btn btn-sm btn-success">Εκτύπωση</a>
    </div>
</section>
</body>
</html>