<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <div class="col-md-4">
            <p><strong>Στοιχεία συσκευής</strong></p>
            <form role="form" method="post" action="/editpc" name="editPcDto">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                <input type="hidden" name="publicid" th:value="${pc.publicid}"></input>
                <div class="form-group">
                    <label for="modelName">Όνομα Μοντέλου:</label>
                    <input type="text" class="form-control" id="modelName" name="modelName"
                           th:value="${pc.modelName}" disabled="true"></input>
                </div>
                <div class="form-group">
                    <label for="serialNum">Serial Num:</label>
                    <input type="text" class="form-control" id="serialNum" name="serialNum" th:value="${pc.serialNum}"></input>
                </div>
                <div class="form-group">
                    <label for="partNum">Part Num:</label>
                    <input type="text" class="form-control" id="partNum" name="partNum" th:value="${pc.partNum}"></input>
                </div>
                <div class="form-group">
                    <label for="position">Τοποθεσία:</label>
                    <input type="text" class="form-control" id="position" name="position" th:value="${pc.position}"></input>
                </div>
                <label>Κατάσταση:</label>
                <div class="radio">
                    <label><input type="radio" name="status" value="STOCKED" required="required"></input>STOCKED</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="status" value="DEPLOYED"></input>DEPLOYED</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="status" value="REPAIR"></input>REPAIR</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="status" value="OBSOLETE"></input>OBSOLETE</label>
                </div>
                <hr/>
                <p><strong>Στοιχεία του υπολογιστή</strong></p>
                <div class="form-group">
                    <label for="ram">RAM (MB):</label>
                    <input type="number" class="form-control" id="ram" name="ram" th:value="${pc.ram}"></input>
                </div>
                <div class="form-group">
                    <label for="memory">Χωρητικότητα Σκληρού (GB):</label>
                    <input type="number" class="form-control" id="memory" name="memory" th:value="${pc.memory}"></input>
                </div>
                <div class="form-group">
                    <label for="cpu">Επεξεργαστής (μοντέλο, Hz):</label>
                    <input type="text" class="form-control" id="cpu" name="cpu" th:value="${pc.cpu}"></input>
                </div>
                <div class="form-group">
                    <label for="cpuSocket">Socket Επεξεργαστή:</label>
                    <input type="text" class="form-control" id="cpuSocket" name="cpuSocket" th:value="${pc.cpuSocket}"></input>
                </div>
                <label>Συσκευασία Υπολογιστή:</label>
                <div class="radio">
                    <label><input type="radio" name="caseType" value="TOWER" required="required"></input>TOWER</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="caseType" value="DESKTOP"></input>DESKTOP</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="caseType" value="LAPTOP"></input>LAPTOP</label>
                </div>
                <label>Domain Υπολογιστή:</label>
                <div class="radio">
                    <label><input type="radio" name="domain" value="FREEDOS" required="required"></input>FREEDOS</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="TPCMOD"></input>TPCMOD</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="TPCGDAEE"></input>TPCGDAEE</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="MOD"></input>MOD</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="INTPC"></input>INTPC</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="DOMAINGES"></input>DOMAINGES</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="MIS"></input>MIS</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="WAN"></input>WAN</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="domain" value="OLKES"></input>OLKES</label>
                </div>
                <button type="submit" class="btn btn-sm btn-default">Επεξεργασία</button>
                <a th:href="@{/deletepc(id=${pc.publicid})}" class="btn btn-sm btn-danger">Διαγραφή</a>
            </form>

        </div>
    </div>
</section>
</body>
</html>