<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<script type="text/javascript">
    document.title = document.title + " - Home";
</script>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${notAdmin}" class="alert alert-warning">
            <strong>Προσοχή!</strong> Πρέπει ο λογαριασμός σας να είναι στο επίπεδο του διαχειριστή για να έχετε πρόσβαση.
        </div>
        <div th:if="${newUser}" class="alert alert-success">
            <strong>Συγχαρητηρια!</strong> O λογαριασμός σας δημιουργήθηκε με επιτυχία.
        </div>
        <div class="row">
            <a href="/printers" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-wrench" aria-hidden="true"></h1> <br/>
                Υποσ/ξη Εκτύπωσης
            </a>
            <a href="/cabinets" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-inbox" aria-hidden="true"></h1> <br/>
                Διαχείρηση Ραφιών
            </a>
            <a href="/consumables" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-tint" aria-hidden="true"></h1> <br/>
                Μελάνια Αποθέματα
            </a>
        </div>
        <br/>
        <div class="row">
            <a href="/pcs" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-object-align-bottom" aria-hidden="true"></h1> <br/>
                Towers, Laptops H/Y
            </a>
            <a href="/displayDevices" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-blackboard" aria-hidden="true"></h1> <br/>
                Displays - Monitor
            </a>
            <a href="/printerDevices" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-print" aria-hidden="true"></h1> <br/>
                Συσκευές Εκτυπωτές
            </a>
        </div>
        <br/>
        <div class="row">
            <a href="/hardDevices" class="btn btn-sq-lg btn-primary">
                <h1 class="glyphicon glyphicon-hdd" aria-hidden="true"></h1> <br/>
                Σκληροι Δίσκοι hdds
            </a>
        </div>
    </div>
</section>
</body>
</html>