<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <script type="text/javascript">
        document.title = document.title + " - Orders";
    </script>
    <div class="container">
        <h3>Αναφορά Αποθηκευμένων Παραγγελιών</h3>
        <div class="col-md-4">
            <form role="form" action="/orders" method="get">
                <div class="form-group">
                    <label for="from">Από:</label>
                    <input type="date" class="form-control" id="from" name="from"></input>
                </div>
                <div class="form-group">
                    <label for="to">Μέχρι:</label>
                    <input type="date" class="form-control" id="to" name="to"></input>
                </div>
                <button type="submit" class="btn btn-success">Αναφορά</button>
            </form>
        </div>
        <div th:if="${orders}">
            <table class="table">
                <thead>
                    <tr>
                        <th>Ημερομηνία</th>
                        <th>Πλήθος αντικειμένων</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="order, iterationStatus:${orders}">
                        <td th:text="${order.when}"></td>
                        <td th:text="${order.totalOfItems}"></td>
                        <td><a  class="btn btn-sm btn-primary"
                                th:href="@{/orderhistory.html(historyid=${order.publicid})}">Λεπτομέρειες</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>