<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <div th:if="${param.error}">
            <div class="alert alert-warning">
                <strong>Προσοχή!</strong>
                Τα στοιχεία που δώσατε για είσοδο είναι λανθασμένα.
                Το όνομα χρήστη που δώσατε ίσως δεν είναι διαθέσιμο ή δεν δώσατε δύο πανομοιότυπους κωδικούς.
            </div>
        </div>
        <span class="col-md-4"></span>
        <div class="col-md-4">
            <form role="form" action="register" name="registerDto" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                <div class="form-group">
                    <label for="who">Όνομα χρήστη:</label>
                    <input type="text" class="form-control" id="who" name="who" required="true"></input>
                </div>
                <div class="form-group">
                    <label for="password">Κωδικός:</label>
                    <input type="password" class="form-control" id="password" name="password" required="true"></input>
                </div>
                <div class="form-group">
                    <label for="repeat-password">Επανάληψη Κωδικού:</label>
                    <input type="password" class="form-control" id="repeat-password" name="repeatPassword" required="true"></input>
                </div>
                <button type="submit" class="btn btn-success">Εγγραφή</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>