<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section layout:fragment="content">
    <script type="text/javascript">
        document.title = document.title + " - Remove Consumable from Cabinet";
    </script>
    <div class="container">

        <p>Είστε σίγουρος(η) ότι θέλετε να σβήσετε το αναλώσιμο;</p>
        <form role="form" name="editQuantityDto" action="/RemoveQuantityFromCabinet" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
            <input type="hidden" name="cabinetid" th:value="${cabinet.publicid}"></input>
            <input type="hidden" name="quantityid" th:value="${quantity.publicid}"></input>
            <button type="sumbit" class="btn btn-danger">Διαγραφή</button>
        </form>
    </div>
</section>
</body>
</html>