<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base"
      xmlns:th="http://www.thymeleaf.org">
<body>
<section layout:fragment="content">
    <div class="container">
        <h3 th:text="${cabinet.name}"></h3>
        <p>Είστε σίγουρος(η) ότι θέλετε να σβήσετε το ράφι;</p>
        <form role="form" name="removeCabinetDto" action="/removeCabinet" method="post">
            <input type="hidden" th:value="${cabinet.publicid}" name="cabinetid"></input>
            <button type="sumbit" class="btn btn-danger">Διαγραφή</button>
        </form>
    </div>
</section>
</body>
</html>