<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">

<head>


</head>
<body>
<section layout:fragment="content">
    <script type="text/javascript">
        document.title = document.title + " - Solved Tickets";
    </script>
    <div class="container">

        <h3>Αναφορά Solved Tickets</h3>
        <div th:if="${error}" class="alert alert-warning">
            <strong>Προσοχή!</strong> Συμπληρώστε τις ημερομηνίες!
        </div>
        <div class="col-md-4">
            <form role="form" action="/ticketsreport" method="post" name="ticketingReportDto">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>
                <div class="form-group">
                    <label for="from">Από:</label>
                    <input type="date" class="form-control" id="from" name="from"></input>
                </div>
                <div class="form-group">
                    <label for="to">Μέχρι:</label>
                    <input type="date" class="form-control" id="to" name="to"></input>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label for="phonetxt">Τηλέφωνο</label>
                        <textarea id="phonetxt" name="phonetxt"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="officetxt" >Γραφείο</label>
                        <textarea id="officetxt" name="officetxt" ></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success pull-right" style="margin-top: 10px">Αναφορά</button>

            </form>

        </div>
        <br/>
        <div th:if="${tickets}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Τηλέφωνο</th>
                    <th>Όνομα</th>
                    <th>Γράφειο</th>
                    <th>Πρόβλημα</th>
                    <th>Παρατηρήσεις</th>
                    <th>Ημερομηνία</th>
                    <th>Επιλύθηκε από</th>
                </tr>
                </thead>
                <tbody>
                <tr  th:each="ticket,iterationStatus: ${tickets}">
                    <td th:text="${ticket.phone}"></td>
                    <td th:text="${ticket.name}"></td>
                    <td th:text="${ticket.office}"></td>
                    <td th:text="${ticket.problem}"></td>
                    <td th:text="${ticket.notes}"></td>
                    <td th:text="${ticket.datein}"></td>
                    <td th:text="${ticket.username}"></td>

                </tr>

                </tbody>
            </table>







    </div>
    </div>





</section>
</body>
</html>