<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="base">
<body>
<section layout:fragment="content">
    <div class="container">
        <h3>Αναφορά διαθέσιμων αποθεμάτων</h3>
        <form role="form" action="/printtotalSupplies" method="post"  name="data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"></input>

            <button type="submit" class="btn btn-success pull-right" style="margin-top: 10px;margin-right:10px" >Εκτύπωση</button>
        </form>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Αναλώσιμο</th>
                <th>Διαθέσιμο Απόθεμα</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="row, iterationStatus:${rows}">
                <td th:text="${row.consumable.code}"></td>
                <td th:class="${row.isLow()} ? 'danger' : 'success'" th:text="${row.currentSupply}"></td>
                <td><a th:href="@{/orderItem(
                            category=${row.consumable.category},
                            currentSupply=${row.currentSupply},
                            title=${row.consumable.orderableTitle})}" class="btn btn-sm btn-primary-outline">Παραγγελία</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>